<tbody class="" <% if data_url %>data-url="<%= data_url %>"<% end %>>
  <% if items.any? %>
    <% items.each do |i| %>
      <% if cache_scope && cache_status %>
        <% if cache_expire %>
          <% cache [i, cache_scope, expires_in: cache_expire] do %>
            <%= render partial: "layouts/synapse_ui/components/tables/item_types/#{type}", locals: {i: i, namespace: namespace, cache_expire: cache_expire, variables: variables}, cached: true %>
          <% end %>
        <% else %>
          <% cache [i, cache_scope] do %>
            <%= render partial: "layouts/synapse_ui/components/tables/item_types/#{type}", locals: {i: i, namespace: namespace, variables: variables}, cached: true %>
          <% end %>
        <% end %>
      <% else %>
        <%= render partial: "layouts/synapse_ui/components/tables/item_types/#{type}", locals: {i: i, namespace: namespace, variables: variables}, cached: false %>
      <% end %>
    <% end %>
  <% else %>
    <tr><td colspan="42">There's nothing here</td></tr>
  <% end %>
</tbody>
