<div id="smallModal" class="modal fade" role="dialog">
	<div class="modal-dialog layer-3" role="document">
		<div class="modal-content">
			<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fal fa-times"></i>
        </button>
      </div>
			<div class="modal-body">
				<p>One fine body…</p>
			</div>
		</div>
	</div>
</div>
