<div id="alert" class="row justify-content-center">
  <div class="col-12 p-0">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key} py-3 px-5" %>
    <% end %>
  </div>
</div>
