<div id="autosave-status" class="row justify-content-center bg-primary py-3 px-5" data-target="autosave.visibility">
  <div class="col-lg-4 text-center text-white p-1" data-target="autosave.status"></div>
</div>
